.cart-container {
    position: relative;

    &__circle {
        position: absolute;
        border-radius: 50%;
        background-color: red;
        padding: 3px 3px;
        top: -5px;
        right: -7px;
        font-size: 10px;
        z-index: 1;
    }
}
