.buttons-wrapper {
    display: flex;
    align-items: center;

    &__header-btn {
        margin-right: 30px;
    }

    &__header-btn:last-child {
        margin-right: 0;
    }

    &__header-anchor {
        text-decoration: none;
        color: #e4e6eb;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: #e4e6eb;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
