.success-p {
    width: 250px;
    background-color: gray;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 0 auto;
    color:white;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;

}

.success-l {
    padding: 10px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    background-color: grey;
    color: white;
    text-decoration: none;
    display: block;
    width: 120px;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
}
