.filter-wrapper {
    display: flex;
    width: 50%;
    margin: 25px auto;
    justify-content: space-evenly;

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 16px;
        height: 16px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 12px;
        position: relative;
        bottom: -3px;
    }

    &__input:hover {
        cursor: pointer;
    }

    &__input:checked {
        border: 6px solid #05aff1;
    }

    &__label {
        font-family: 'Ubuntu', sans-serif;
        color: #e4e6eb;
        margin-right: 4px;
    }

    &__header {
        font-family: 'Roboto', monospace;
        text-align: center;
        color: #e4e6eb;
        margin-bottom: 8px;
    }

    &__dropdown {
        border-radius: 10px;
        padding: 2px 4px;
        font-family: 'Ubuntu', sans-serif;
        background-color: #242526;
        color: #e4e6eb;
    }

}
