.footer {
    position: relative;
    min-height: 100px;
    background-color: #242526;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: hsl(223, 15%, 91%);
}
